/* ---- remove default styling ---- */

* {
  padding: 0;
  margin: 0;
  border: none;
}

/* ---- headings ---- */

/* ---- Navbar ---- */

/* ---- Main page Section start ----*/

/* ---- about section start ---- */

/* ---- gallery section start ---- */

/* ---- retouch section start ---- */

/* ---- testimonial section start ---- */

/* ---- contact section start ---- */

/* ---- footer section start---- */

