/* ---- google fonts ---- */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap");

/* ---- remove default styling and add custom ---- */

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  color: white;
  box-sizing: border-box;
}

/* ---- headings ---- */

h1 {
  font-size: 5rem;
  color: #b88845;
}

h2 {
  
}

h3 {
  
}

h4 {
  
}

h5 {
  
}

.header-box {
  
}

/* ---- Navbar ---- */

.navbar {
  display: flex;
  padding-top: 1.5rem;
  justify-content: center;
}

.nav-items {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.nav-items li {
  list-style: none;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.nav-items a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

.nav-items a:hover {
  color: #b88845;
  transition: color 0.3s ease-in-out;
}

/* ---- Main page Section start ----*/

.main {
  height: 100vh;
  width: 100%;
  background-color: #141519;
  background-image: url(/assets/images/main-image.jpg);
  background-size: cover;
  background-position: center;
}

.banner {
  position: absolute;
  top: 50%;
  left: 8%;
  max-width: 30rem;
}

/* ---- about section start ---- */

/* ---- gallery section start ---- */

/* ---- retouch section start ---- */

/* ---- testimonial section start ---- */

/* ---- contact section start ---- */

/* ---- footer section start---- */

