/*  google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap");

/*  remove default styling and add custom */

* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Inter", sans-serif;
  color: #E3E6E8;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*  headings  */

h1 {
  font-family: "Poppins", sans-serif;
  color: #b88845;
  font-size: 3.3em;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  padding-right: 1rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #b88845;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

p {
  font-size: 1em;
  text-align: justify;
}

.heading-box {
  border-bottom: 1px solid #b88845;
  width: 50vw;
  margin: 0 auto 5rem;
}

/* hamburger menu start
hamburger menu was modified from code created by Álvaro */

.burger {
  position: fixed;
  height: 3rem;
  z-index: 12;
  opacity: 0.8;
}

.burger-container input[type="checkbox"],
.burger-container .burger-lines {
  display: block;
}

.burger-container {
  display: block;
  position: relative;
}

.burger-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 4rem;
  width: 4.5rem;
  top: 1rem;
  left: 1.25rem;
  z-index: 5;
  opacity: 0;
}

.burger-container .burger-lines {
  display: flex;
  height: 2rem;
  width: 2.5rem;
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  z-index: 2;
  margin: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
}

.burger-container .burger-lines .line {
  display: block;
  height: 0.25rem;
  width: 100%;
  border-radius: 0.75rem;
  background: #b88845;
}

.burger-container .burger-lines .top-line {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.burger-container .burger-lines .middle-line {
  transition: transform 0.2s ease-in-out;
}

.burger-container .burger-lines .bottom-line {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.burger .menu-items {
  background-color:rgba(20, 21, 25, .5);
  max-width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  padding: 5rem 1.5rem 1.5rem 0;
  transition: transform 0.5s ease-in-out;
}

.burger-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.burger-container input[type="checkbox"]:checked ~ .burger-lines .top-line {
  transform: rotate(43deg);
}

.burger-container input[type="checkbox"]:checked ~ .burger-lines .middle-line {
  transform: scaleY(0);
}

.burger-container input[type="checkbox"]:checked ~ .burger-lines .bottom-line {
  transform: rotate(-43deg);
}

.menu-items {
  display: flex;
  border-radius: 2rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.menu-items a {
  color:#b88845;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color:#E3E6E8;
  transition: color 0.3s ease-in-out;
}

/*  main section start */

/*  navbar  */

.navbar {
  display: flex;
  padding-top: 1.5rem;
  margin-left: 12rem;
}

.nav-items {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #141519;
  background-image: url(../images/main-image.jpg);
  background-size: cover;
  background-position: center;
}

.banner {
  position: absolute;
  top: 20vh;
  left: 8%;
  max-width: 30rem;
  text-align: justify;
}

.main-photo {
  display:flex;
  justify-content: center;
}

/*  about and retouch section start */

.about,.retouch {
  width: 100%;
  padding-bottom: 5rem;
  background-color: #2a2a2d;
}

.about img, .retouch img {
  max-width: 100%;
  height: auto;
  border-radius: 1.25rem;
  margin: 0 auto;
}

.about-container, .retouch-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}

.about-text, .retouch-text {
  letter-spacing: 1px;
  line-height: 1.5em;
  font-size: 1em;
  padding: 0 2rem 4rem;
}

 .retouch h3 {
  padding-top: 2rem;
}

/* retouch slider section start
before/after slider was modified from code created by Lea Varou  */

.ba-slider {
  position:relative;
  line-height: 0;
  margin: 0 auto;
}

.ba-slider > div {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 50%;
  max-width: 100%;
  overflow: hidden;
  resize: horizontal;
}

.ba-slider img {
  user-select: none;
  max-width: 400px;
  height: auto;
}

.slider-lg {
  display: inline-block;
}

.slider-sm {
  display: none;
}


/*  gallery section start  */

.gallery {
  background-color: #141519;
  width: 100%;
  padding: 2rem 0;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  max-width: 1400px;
}

.gallery-photo {
  margin: 0.5rem;
  filter: grayscale(1);
  overflow: hidden;
  transition: 1s ease-in-out;
}

.gallery-photo:hover {
  filter: none;
  transform: scale(1.1);
}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 1.25rem;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

/*  gallery lightbox start 
gallery lightbox was modified from code created by Kevin Powell */

.gallery-lightbox-image{
  max-height: 90vh;
  max-width: 80vw;
}

.gallery-lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0,1); 
  transition: transform 300ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  width: 100vw;
  height: 100vh;
  z-index: 12;
}

.gallery-lightbox:target {
  transform: scale(1,1);
}

.gallery-lightbox-content {
  position: relative;
}

.close {
  position: absolute;
  right: -1em;
  top: -1em;
  border: white 2px solid;
  display: flex;
  width: 2em;
  height: 2em;
  background: #b88845;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.close::after {
  content: 'x';
}

/* testimonial section start */

.testimonial {
  background-color: #141519;
  width: 100%;
  padding: 2rem 0;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  max-width: 1400px;
}

.testimonial-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid #b88845;
}

.card {
  display: grid;
  grid-template-rows: 40% 60%;
  background-color: #2a2a2d;
  height: 100%;
  padding: 2rem;
  justify-items: center;
  border: 1px solid #b88845;
  max-width: 35rem;
}

.card h2 {
  color: #b88845;
  margin: 3rem;
  padding-top: 1rem;
  text-align:center;
}

/* contact section start */

.contact {
  background-color: #2a2a2d;
  width: 100%;
  padding: 2rem 0px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #2a2a2d;
  align-items: top;
  justify-items: center;
}

.contact-info {
  text-align: center;
  line-height: 2rem;
  border: 1px solid #b88845;
}

.contact-info-sm {
  display: none;
}

.contact-info-lg {
  display: block;
}

.form-container {
  padding: 1rem;
  width: 500px;
  border: 1px solid #b88845;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  color: #141519;
  border-radius: 0.625rem;
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  color: #141519;
  padding: 1rem 0.5rem;
  resize: none;
  border-radius: 0.625rem;
}

.form-container a {
  font-size: 1.3em;
}

.btn {
  color: white;
  display: block;
  position: relative;
  background: #b88845;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 3rem;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  max-width: fit-content;
  margin: 2rem auto 0;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* footer section start */

footer {
  position: relative;
  background-color: #b88845;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-networks {
  display: flex;
}

.social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.5rem .75rem;
  text-decoration: none;
  font-size: 1em;
  transition: 0.4s;
}

.social-networks a:hover {
  transform: scale(1.4);
}

/* scroll down icon on main */

.scroll-down {
  position: absolute;
  right: 2rem;
  bottom: 5rem;
  width: 2.5rem;
  height: 3.5rem;
}

.mouse {
  width: 2px;
  padding: 0.6rem 1rem;
  height: 2.5rem;
  border: 2px solid #b88845;
  border-radius: 1.5rem;
  opacity: 0.75;
  box-sizing: content-box;
}

.wheel {
  width: 0.125rem;
  height: 0.6rem;
  background-color: white;
  animation-name: scrollwheel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrollwheel {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

/* Scroll Down animation modified from code created by Deepak K Vijayan */

.scroll-down::after {
  content: "Scroll Down";
  white-space: nowrap;
  position: absolute;
  font-size: 0.8em;
  bottom: -3em;
  left: -1.5em;
}

/* remove all animations, transitions and smooth scroll for those 
with animation options turned off on device taken from Kevin Powell */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* media queries for small and mobile device responsivness */

@media screen and (max-width:1500px) {

  .about-container, .retouch-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .testimonial-container {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }

  .about-text {
    padding-top: 4rem;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
  }
}

@media screen and (max-width:1200px) {

  .navbar {
    display: none;
  }
}

@media screen and (max-width:725px) {

  .about-container, .retouch-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .about-text {
    padding-top: 4rem;
  }

  .navbar {
    transform: scale(0);
  }

  .heading-box {
    width: 80vw;
  }

  .gallery-photo {
    filter: none;
  }

  .gallery-photo:hover {
    transform: none;
  }
}

@media screen and (max-width:650px) {
  .ba-slider img {
    max-width: 300px;
  }
  
  .contact-info-sm {
    display: block;
  }

  .contact-info-lg {
    display: none;
  }

  .form-container {
    width: 300px;
  }
}

@media screen and (max-width:575px) {
  html {
    font-size: 12px;
    }

  h3 {
    font-size: 2rem;
  }  

  .card h2 {
    padding-top: 5rem;
  }

  .mouse, .wheel {
    transform: scale(0.6);
  }

  .scroll-down::after {
    bottom: -1rem;
    left: -1rem;
  }

  .about img {
    width: 60%
  }

  .gallery-photo {
    width: 70%
  }

  .photo {
    margin: 0;
  }

}
